<!-- This is the homepage that shows all the hummus types  -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hummus Is Great</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/style/styles.css">
  <style>

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    /* Container for centering content */
    .container {
      max-width: 1200px;
      margin: 25px auto;
      padding: 20 px;
      background: #fff;
      box-shadow: 0 0 10 px rgba(0, 0, 0, 0.1);
    }

    p {
      margin: 5 px 0;
      padding: 0; 
      line-height: 1.6;
    }

    .image-container {
      position: relative;
      text-align: center;
      color: white;
    }

    .image-container img {
      width: 100%;
      height: auto;
    }

    .image-container .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.5); /* Optional: Adds a background to the text for better readability */
      padding: 10px;
      border-radius: 5px;
    }
  
  </style>
</head>


<body>
<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
  <img src="/images/Designer.png" alt="Nature's Hummus Logo" style="width: 50px; height: auto; margin-left: 10px;">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: black;" href="/">Nature's Hummus</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <!-- This is the beginning of the "list" of items in our navigation bar -->
      <ul class="navbar-nav">

        <!-- This is the button to go back to the home page -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      </ul>

      <!-- This last form is a link to the donation page, which is our call to action to every user that visits
       the page -->
      <form action="/login" method="GET" class="d-inline ms-auto">
        <button type="submit" class="btn btn-lg">Login</button>
      </form>
    </div>
  </div>
</nav>



  <img src="images/prettyhummus.jpg" alt="Pretty Hummus" style="background-size: cover;">
 





<div class="container">
  <!-- Homepage Text -->
   <div class="homepage-text"></div>
  
  <h1 style="text-align: center" >Nature's Hummus</h2>
  <br>
  
  <p style="text-align: center">
    Hummus is a delicious and nutritious food that is enjoyed by many people around the world. It is made from chickpeas, tahini, olive oil, lemon juice, and garlic. Hummus is a great source of protein, fiber, and healthy fats. It is also low in calories and can be enjoyed as a snack or a meal. There are many different types of hummus available, including traditional, roasted red pepper, and garlic. Hummus is a versatile food that can be enjoyed in many different ways, such as with pita bread, vegetables, or as a spread on sandwiches. If you are looking for a healthy and delicious snack, hummus is a great choice!
  </p>

  <p style="text-align: center"> 
    If you are a hummus lover, you have come to the right place! Here you will find a list of all the different types of hummus available, including their retail price, serving size, and brand name. Whether you are looking for a traditional hummus or a more exotic flavor, you are sure to find something that you will love. So go ahead and explore the world of hummus and discover all the delicious options that are available to you!
  </p>
<br>
<h2 style="text-align: center; font-family: 'Brush Script MT';" >Naturally Nutritious, Deliciously Yours</h2>
<br>
  <p style="text-align: center">
    You can also create an account and log in to save your favorite hummus types. So what are you waiting for? Click the button in the top right to start exploring the world of hummus today and discover all the delicious options that are available to you!
  </p>
</div>





<!-- This is the main content of the page -->
  <div class="container">
    <h2>Hummus List</h2>
    <table>
      <tr>
        <th>Hummus Name</th>
        <th>Description</th>
        <th>Retail Price</th>
        <th>Serving Size</th>
        <th>Brand Name</th>
      </tr>
      <!-- Create a for loop to display all the data from the database in a format similar to this -->
       <% for (let i = 0; i < hummus.length; i++)
       { %>
        <tr>
          <td><%= hummus[i].name %></td>
          <td><%= hummus[i].description %></td>
          <td><%= hummus[i].retailprice %></td>
          <td><%= hummus[i].servingsize %></td>
          <td><%= hummus[i].brandname %></td>
        </tr>
       <%}%>
    </table>
  </div>

</body>
</html>
